<h1>Editing later_link</h1>

<% form_for(@later_link) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :estimated_duration %><br />
    <%= f.text_field :estimated_duration %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @later_link %> |
<%= link_to 'Back', later_links_path %>