<h1>Listing later_links</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Estimated duration</th>
    <th>Name</th>
  </tr>

<% @later_links.each do |later_link| %>
  <tr>
    <td><%=h later_link.url %></td>
    <td><%=h later_link.estimated_duration %></td>
    <td><%=h later_link.name %></td>
    <td><%= link_to 'Show', later_link %></td>
    <td><%= link_to 'Edit', edit_later_link_path(later_link) %></td>
    <td><%= link_to 'Destroy', later_link, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New later_link', new_later_link_path %>